@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    scroll-padding-top: var(--layout-padding);
  } */

  body {
    @apply font-custom bg-primary text-white;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 10s linear infinite;
  }
}